.Form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.FormControl label,
.FormControl input,
.FormControl textarea {
  display: block;
  width: 100%;
}
.ErrorField {
  display: block;
}

.FormControl input,
.FormControl textarea,
.DatePicker {
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
}

.FormControl input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.FormActions {
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.Label {
  padding-right: 15px;
}
